&pinctrl {
	i2c1_default_alt: i2c1_default_alt {
		group2 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 02)>, <NRF_PSEL(TWIM_SCL, 1, 03)>;
			//bias-pull-up;
		};
	};

	i2c1_default_sleep: i2c1_default_sleep {
		group3 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 02)>, <NRF_PSEL(TWIM_SCL, 1, 03)>;
			low-power-enable;
		};
	};
};


&i2c1 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c1_default_alt>;
	pinctrl-1 = <&i2c1_default_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = < I2C_BITRATE_STANDARD >;
    lis2dtw12: lis2dtw12@19 {
        compatible = "i2c-device";
        status = "okay"; // https://devzone.nordicsemi.com/f/nordic-q-a/107801/usage-of-interrupts-from-i2c-device
		reg = <0x19>; // https://community.st.com/t5/mems-sensors/dts-configuration-for-lis2dw12/td-p/148824
		label = "LIS2DTW12";
	};

	sts40: sts40@46 {    /* STS40 I2C address is 0x46 */
        compatible = "i2c-device";
        status = "okay";
        reg = <0x46>;
        label = "STS40";

    };
};
